html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-size: 1.8rem;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
}

.section-main {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(81, 36, 135, 0.8)), to(rgba(33, 8, 66, 0.9))), url(https://source.unsplash.com/aWXVxy8BSzc/1600x900);
    background-size: cover;
    background-position: center;
    height: 95vh;
    align-items: center;
    display: grid;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
    margin-bottom: 3rem;
}

.section-main .main-info {
    display: grid;
    justify-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    animation-name: moveInUp;
    animation-duration: 1.5s;
    position: relative;
    top: -8rem;
    grid-row-gap: 1rem;
    padding-top: 5rem;
    color: #fff;
}

.section-main .main-info h1 {
    margin-bottom: 2rem;
    font-size: 5.5rem;
    font-weight: 500;
}

.section-main .main-info p {
    width: 62%;
    text-align: left;
    font-size: 2rem;
    line-height: 1.7;
}

.section-main .main-info img {
    width: 10%;
    padding-top: 6rem;
}

.section-empresa {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    padding: 4rem 0;
    margin-bottom: 6rem;
}

.container-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6rem;
}

.container-info .container-info-company .info-block i {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
    color: #502585;
}

.container-info .container-info-company .info-block h2 {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(228, 228, 228, 0.6);
    width: 85%;
}

.container-info .container-info-company .info-block p {
    width: 85%;
}

.container-info .container-info-company .info-block {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-bottom: 5rem;
}

.container-img img {
    width: 100%;
    height: 45rem;
    margin-top: 1rem;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.5);
}

.section-valores {
    background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(81, 36, 135, 0.8)), to(rgba(33, 8, 66, 0.8))), url(https://source.unsplash.com/1600x900/?abstract);
    background-size: cover;
    background-position: center;
    height: 95vh;
    align-items: center;
    display: grid;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    margin-bottom: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.container-card {
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 5rem;
    width: 85%;
    margin: 0 auto;
    padding: 5rem;
}

.container-card .card {
    display: grid;
    justify-items: center;
    align-items: start;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: all .5s;
    padding: 5rem 1.6rem;
    border-radius: 5px;
}

.container-card .card i {
    font-size: 10rem;
    color: #502585;
    align-self: start;
    margin-bottom: 3rem;
}

.container-card .card h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.container-card .card p {
    align-self: center;
}

.container-card .card:hover {
    width: 100%;
    -webkit-box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 0.33);
    box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 0.33);
    transform: translateY(-10px);
}

.container-card .card .card-info {
    height: 20rem;
}

.section-intergrantes {
    margin-bottom: 4rem;
}

.section-intergrantes .card-info-int {
    text-align: center;
    height: 10rem;
}

.section-portafolio {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(81, 36, 135, 0.8)), to(rgba(33, 8, 66, 0.9))), url(https://source.unsplash.com/1600x900/?music,event);
    clip-path: polygon(0 28%, 100% 10%, 100% 100%, 0% 100%);
    height: 100vh;
}

.section-portafolio .main-info {
    padding-top: 5rem;
    top: 1rem;
}

.section-portafolio img {
    width: 200rem;
}

.section-portafolio a {
    text-decoration: none;
    padding: 1.3rem 3rem;
    background-color: #fff;
    color: #502585;
    font-size: 1.6rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    font-weight: 500;
    transition: all .3s;
}

.section-portafolio a:hover {
    color: #fff;
    background-color: #FB403B;
}

.footer-copyright {
    text-align: center;
    padding: 5rem 0;
}

.copyright {
    color: var(--color-black);
    font-size: 1.6rem;
    font-weight: var(--font-semibold);
    text-decoration: none;
    text-align: center;
}

.copyright:hover {
    color: #502585;
}

.copyright i {
    font-size: 2.5rem;
    color: #502585;
    position: relative;
    top: 5px;
}

.copyright span {
    color: #000;
    transition: .1s;
}

.copyright span:hover {
    color: #502585;
}

/*
Inicio de estilos generales de keyframes
*/

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    80% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 2;
        transform: translate(0);
    }
}